/* 
* Copyright 2021 The MLX Contributors
* 
* SPDX-License-Identifier: Apache-2.0
*/ 

/* .graph-canvas {
  max-width: 98%;
} */

.canvas-wrap {
  display: inline-block;
  flex-direction: column;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: auto;
  margin: 0.8rem;
  padding-left: 0.8rem;
}

.canvas-wrap canvas {
  margin: 0 auto;
  display: block;
}

