/* 
* Copyright 2021 IBM Corporation
* 
* SPDX-License-Identifier: Apache-2.0
*/ 
a {
  text-decoration: none;
}

.sidebar-list-item.not-active:hover,
.sidebar-list-item.not-active:hover {
  color: #666 !important;
}

ul {
  display: inline;
}

.sidebar-container {
  min-height: 100%;
}

.sidebar-img {
  width: 80%;
}

.lfai-logo {
  margin-top: 1%;
  width: 60%;
}

.sidebar-header-wrap {
  text-align: center;
  padding-top: 5%;
  margin-bottom: 10%;
}

.sidebar-list {
  padding: 0;
  margin: 0 auto 0 auto;
}

.sidebar-list-item.header {
  margin-left: 0;
  display: block;
  text-align: center;
  width: 100%;
}

.sidebar-list-wrap {
  text-align: center;
  width: 100%;
}

.sidebar-list-item {
  list-style: none;
  margin-top: 5%;
  text-align: left;
  width: 60%;
  display: inline-block;
}

.sidebar-list-item.active,
.sidebar-list-item:active,
.sidebar-list-item.active,
.sidebar-list-item:active {
  color: #fff !important;
}

.sidebar-list-item.not-active {
  color: #aaa !important;
}

span.material-icons {
  vertical-align: bottom;
  margin-right: 3%;
}

html,
body {
  height: 100%;
  background-color: #fcfcfc !important;
  display: flex;
  flex-direction: column;
}

body>* {
  flex-shrink: 0;
}

.app-wrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.bottom-sidebar {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.above-secret {
  margin-bottom: 5px;
}

.display-secret-menu-button {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.secret-title {
  margin: 0;
}

.secret-tab-open {
  width: 100%;
  background-color: rgb(48, 48, 48);
}

.secret-tab {
  display: flex;
  flex-direction: row;
  background-color: rgb(48, 48, 48);
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 17px;
  padding-right: 40px;
}

.secret-tab:hover {
  color: darkcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secret-tab:hover {
  padding-top: 0;
}

.secret-tab:hover::before {
  content: "click to expose options";
  color: #888 !important;
}

.secret-menu.visible {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px dashed darkcyan;
  box-sizing: border-box;
}

.secret-menu.visible .secret-heading {
  text-align: left;
  color: #888 !important;
  margin: 5% 0 0 2%;
}

.secret-menu.visible * {
  color: cyan;
  list-style-type: disc;
}

.secret-menu.visible li {
  margin: 0 0 8% 0;
}

.footer-list-wrap {
  width: 96%;
  margin-left: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.conversation-margin {
  margin-bottom: 5vh;
}

.footer-list-item {
  width: 96%;
  margin: 0 0 0 4%;
}
