# we rely on requirements from client and server for local development

-r server/requirements.txt
-r client/requirements.txt

-e server
-e client

#-r client/test-requirements.txt
#-r server/test-requirements.txt
